<li class="box">
  <%= image_tag(home.image_url(:medium), class:'mainimage') %>
  <div class="textline">
    <p class="firstleftline">$<%= home.price %></p>
    <p><%= home.city %>, <%= home.state %>  <%= home.zip %></p>
  </div>
  <div class="textline">
    <p class="secondleftline sqFeetMeters"
        data-showing-meters="false"
        data-sqmeters="<%= home.square_footage_meters %>"
        data-sqfeet="<%= home.square_footage %>">
          <%= home.square_footage %> SqFeet
    </p>
    <p><%= home.bedrooms %> Bedrooms, <%= home.bathrooms %> Bathrooms</p>
  </div>
  <div>
    <% if logged_in? && favorited(home.id) == true %>
      <p class="pull-left faved-heart" data-remote=true data-type=script data-homeid="<%= home.id %>"> &hearts;</p>
    <% elsif logged_in? && favorited(home.id) == false %>
      <p class="pull-left fav-heart" data-remote=true data-type=script data-homeid="<%= home.id %>"> &hearts;</p>
    <% end %>
    <%= link_to home, class: 'btn btn-primary' do %>
      See More
    <% end %>
  </div>
</li>
