<li class="box">
  <%= image_tag(home.image_url(:medium), class:'mainimage') %>
  <div class="textline">
    <p class="firstleftline">$<%= home.price %></p>
    <p><%= home.city %>, <%= home.state %>  <%= home.zip %></p>
  </div>
  <div class="textline">
    <p class="secondleftline sqFeetMeters" data-sqfeet="<%= home.square_footage %>"><%= home.square_footage %> SqFeet</p>
    <p><%= home.bedrooms %> Bedrooms, <%= home.bathrooms %> Bathrooms</p>
  </div>
  <div>
    <p class="pull-left fav-heart" data-homeid="<%= home.id %>"> &hearts;</p>
    <%= link_to home, class: 'btn btn-primary' do %>
      See More
    <% end %>
  </div>
</li>
