<div class="container page-header">
  <% if logged_in? %>
    <%= link_to new_home_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Home
    <% end %>
  <% end %>
  <h1 Listing>Homes for Sale</h1>
</div>

<div class="container-fluid">
  <ul class="s-ul">
    <% if @homes.empty? %>
      <%= render 'empty_homes' %>
    <% else %>
      <%= render @homes %>
    <% end %>
  </ul>
</div>

<div class="container text-center">
  <%= paginate @homes do %>
    <nav>
      <ul class="pagination pagination-lg">
        <%= first_page_tag unless current_page.first? %>
        <%= prev_page_tag unless current_page.first? %>
        <% each_page do |page| %>
          <% if page.left_outer? || page.right_outer? || page.inside_window? %>
            <%= page_tag page %>
          <% end %>
        <% end %>
        <%= next_page_tag unless current_page.last? %>
        <%= last_page_tag unless current_page.last? %>
      </ul>
    </nav>
  <% end %>
  <%= page_entries_info @homes %>
</div>
