<div class="container page-header">
  <h1 Listing>Search Results</h1>
</div>
<div class="flexcontainer">
  <ul class="s-ul">
    <% if @homes_search.empty? %>
      <h2>Sorry we did not find any results</h2>
    <% else %>
      <%- @homes_search.each do |home| %>
      <li class="box">
        <%= image_tag(home.image_url(:medium), class:'mainimage') %>
        <div class="textline">
          <p class="firstleftline">$<%= home.price %></p>
          <p><%= home.city %>, <%= home.state %>  <%= home.zip %></p>
        </div>
        <div class="textline">
          <p class="secondleftline"><%= home.square_footage %> SqFeet</p>
          <p><%= home.bedrooms %> Bedrooms, <%= home.bathrooms %> Bathrooms</p>
        </div>
        <div>
          <%= link_to home, class: 'btn btn-primary' do %>
            See More
          <% end %>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
