<div class="modal fade bs-example-modal-sm" id="modalSmall" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <%= image_tag(@home.image_url(:small)) %>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalMedium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <%= image_tag(@home.image_url(:medium)) %>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLarge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= image_tag(@home.image_url(:large)) %>
    </div>
  </div>
</div>

<div class="container page-header">
  <%= link_to homes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if logged_in? && @home.created_by == current_user %>
    <%= link_to @home, class:'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Delete
    <% end %>
    <%= link_to edit_home_path(@home), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <h2><%= @home.address %><br><%= @home.city %>, <%= @home.state %> <%= @home.zip %></h2>
    </div>
    <div class="col-md-2">
      <h1><strong>$<%= @home.price %></strong></h1>
    </div>
    <% if Time.now - @home.created_at <= 2.days %>
      <div class="col-md-3 col-md-offset-2">
        <h4 class="s-text2">Listed <%= time_ago_in_words(@home.created_at) %> ago</h4>
      </div>
    <% elsif Time.now - @home.created_at >= 30.days %>
      <div class="col-md-3 col-md-offset-2">
        <h4 class="s-text3">Listed <%= time_ago_in_words(@home.created_at) %> ago</h4>
      </div>
    <% else %>
      <div class="col-md-3 col-md-offset-2">
        <h4 class="s-text">Listed <%= time_ago_in_words(@home.created_at) %> ago</h4>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <ul class="s-ul">
    <li class="box">
      <%= image_tag(@home.image_url(:medium)) %>
      <div class="textline">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSmall">
          Small
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMedium">
          Medium
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge">Large</button>
        <% if logged_in? && favorited(@home.id) == true %>
          <p class="pull-left faved-heart" data-remote=true data-type=script data-homeid="<%= @home.id %>"> &hearts;</p>
        <% elsif logged_in? && favorited(@home.id) == false %>
          <p class="pull-left fav-heart" data-remote=true data-type=script data-homeid="<%= @home.id %>"> &hearts;</p>
        <% end %>
      </div>
      <div class="textline">
        <h4>Year Built: <%= @home.year_built %></h4>
        <h4>Bedrooms: <%= @home.bedrooms %></h4>
        <h4>Bathrooms: <%= @home.bathrooms %></h4>
      </div>
      <div class="textline">
        <h4> Floors: <%= @home.floors %></h4>
        <h4 class="sqFeet" data-sqfeet="<%= @home.square_footage %>"><%= @home.square_footage %> Square Feet</h4>
        <h4>Lot size: <%= @home.lot_size %></h4>
      </div>
      <div class="textline">
      </div>
      <% if @home.hoa %>
        <div class="textline2">
          <h4>HOA Fee: $<%= @home.hoa_fee %></h4>
        </div>
      <% end %>
      <div class="textline">
        <h4>Parking: <%= @home.parking %></h4>
        <h4>Roof: <%= @home.roof_type %></h4>
      </div>
      <div class="textline pull-right">
        <h6>Listed By: <%= @home.created_by.name %></h6>
      </div>
    </li>
  </ul>
</div>
<div class="flexcontainer2">
  <div class="textline3">
    <h4><%= @home.description %></h4>
  </div>
</div>
