<div class="container page-header">
  <%= link_to homes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if logged_in? %>
    <%= link_to @home, class:'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Delete
    <% end %>
    <%= link_to edit_home_path(@home), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <h2><%= @home.address %><br><%= @home.city %>, <%= @home.state %> <%= @home.zip %></h2>
    </div>
    <div class="col-md-2">
      <h1><strong>$<%= @home.price %></strong></h1>
    </div>
    <% if Time.now - @home.created_at <= 172800 %>
      <div class="col-md-3 col-md-offset-2">
        <h4 class="s-text2">Listed <%= time_ago_in_words(@home.created_at) %> ago</h4>
      </div>
    <% elsif Time.now - @home.created_at >= 2592000 %>
      <div class="col-md-3 col-md-offset-2">
        <h4 class="s-text3">Listed <%= time_ago_in_words(@home.created_at) %> ago</h4>
      </div>
    <% else %>
      <div class="col-md-3 col-md-offset-2">
        <h4 class="s-text">Listed <%= time_ago_in_words(@home.created_at) %> ago</h4>
      </div>
    <% end %>
  </div>
</div>

<div class="flexcontainer">
  <ul class="s-ul">
    <li class="box">
      <%= image_tag(@home.image_url(:large)) %>
      <div class="textline">
        <h2>Year Built: <%= @home.year_built %></h2>
        <h2>Bedrooms: <%= @home.bedrooms %></h2>
        <h2>Bathrooms: <%= @home.bathrooms %></h2>

      </div>
      <div class="textline">
        <h2> Floors: <%= @home.floors %></h2>
        <h2><%= @home.square_footage %> Square Feet</h2>
        <h2>Lot size: <%= @home.lot_size %></h2>
      </div>
      <div class="textline">
      </div>
      <% if @home.hoa %>
        <div class="textline2">
          <h2>HOA Fee: $<%= @home.hoa_fee %></h2>
        </div>
      <% end %>
      <div class="textline">
        <h2>Parking: <%= @home.parking %></h2>
        <h2>Roof: <%= @home.roof_type %></h2>
      </div>
      <div class="textline pull-right">
        <h4>Listed By: <%= @home.created_by.name %></h4>
      </div>
    </li>
  </ul>
</div>
<div class="flexcontainer2">
  <div class="textline3">
    <h4><%= @home.description %></h4>
  </div>
</div>
